
@import 'common';

.fterm-lines {
    // ... positioning
    position: absolute;
    top: 0px;
    height: 100%;
    left: 0px;
    width: 100%;
    content: "";
    z-index: 4010;
    background: linear-gradient(#444 10%, #000 50%);
    background-size: 100% 4px;
    background-repeat: repeat-y;
    opacity: .9;
    box-shadow : inset 0px 0px 1px 1px rgba(0, 0, 0, .9);
    animation: pulse 5s linear infinite;
    -moz-animation: pulse 5s linear infinite;
    -webkit-animation: pulse 5s linear infinite;
}

.fterm-scanline {
    z-index: 4100;
    content: '';
    position: absolute;
    top: 0px;
    bottom: 0%;
    width: 100%;
    height: 5px;
    margin-bottom: -5px;
    background: #fff;
    background: linear-gradient(
        to bottom,
        rgba(255,0,0,0) 0%,
        rgba(255,250,250,1) 50%,
        rgba(255,255,255,0.98) 51%,
        rgba(255,0,0,0) 100%);
    opacity: .1;
    animation: vline 1.25s linear infinite;
    -webkit-animation: vline 1.25s linear infinite;
    -moz-animation: vline 1.25s linear infinite;
}

@keyframes pulse {
    0%   {transform: scale(1.001);  opacity: .90; }
    8%   {transform: scale(1.000);  opacity: .88; }
    15%  {transform: scale(1.004);  opacity: .88; }
    30%  {transform: scale(1.002);  opacity: .85; }
    100% {transform: scale(1.000);  opacity: .88; }
}

@-webkit-keyframes pulse {
    0%   {transform: scale(1.001);  opacity: .90; }
    8%   {transform: scale(1.000);  opacity: .88; }
    15%  {transform: scale(1.004);  opacity: .88; }
    30%  {transform: scale(1.002);  opacity: .85; }
    100% {transform: scale(1.000);  opacity: .88; }
}

@-moz-keyframes pulse {
    0%   {transform: scale(1.001);  opacity: .90; }
    8%   {transform: scale(1.000);  opacity: .88; }
    15%  {transform: scale(1.004);  opacity: .88; }
    30%  {transform: scale(1.002);  opacity: .85; }
    100% {transform: scale(1.000);  opacity: .88; }
}


@keyframes vline {
    0%   { top: 0px;}
    100% { top: 100%;}
}

@-webkit-keyframes vline {
    0%   { top: 0px;}
    100% { top: 100%;}
}

@-moz-keyframes vline {
    0%   { top: 0px;}
    100% { top: 100%;}
}

