
@import 'common';

* {
    font-family: 'Share Tech Mono';
    color: $text-color;
}

*::selection {
    background: $white;
}

*::-moz-selection {
    background: $white;
}

html, body {
    min-height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

html {
    background-color: $dark-gray;
}

#container {
    padding: 0;
    margin-top: 50px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#sidebar {
    float: left;
    width: 300px;
    min-height: 100%;
}

#main {
    margin-left: 310px;
    min-height: 100%;

    border-left: solid $amber;
    border-top: solid $amber;
    border-top-left-radius: $border-radius;

    padding-top: 3px;
    padding-left: 3px;
}

#header {
    padding: 0 10px;
    margin-top: -50px;
    height: 50px;
    line-height: 50px;
}

.logingroup {
    float: right;
}

.headertext {
}

.tv-border {
    border-radius: 15px;
    border-style: solid;
    border-width: 30px;
    border-color: black;
    position: relative;
}

.cover {
    position: absolute;
    padding: 0px 50px;
    width: 100%;
}

.cover-100 {
    top: 0px;
    bottom: 100%;
}

.cover-60 {
    top: 40%;
    bottom: 100%;
}

.cover-70 {
    top: 30%;
    bottom: 100%;
}

.cover-50px {
    margin-top: -$border-radius;
    top: 50px;
    bottom: 100%;
}

.cover-back {
//    border-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    border-color: $amber;
    border-style: solid;
    background-color: black;
    border-top: none;
}

#logindialog {
    margin: 15px 15px;
}

//threejs stats window
#stats {
    float: right;
    position: absolute;
    right: 0px;
    bottom: 0px;
}

