
@import 'common';

.form-control {
    background-color: $dark-gray;
    border-color: $white;
    color: $text-color;
    font-color: $text-color;

}

input[type="password"],
input[type="text"] {
    border-color: $amber;

    &:focus {
        //border: none;
        box-shadow: none;
        outline: none;
        border-color: $white;
    }
}

.btn-nu {
    color: $text-color;
    background-color: transparent;
    border-color: $amber;

    &:focus, &:active, &:hover {
        background-color: transparent;
        color: $text-color;
        border-color: $white;
    }
}

.col {
    padding-right: 7px;
    padding-left: 7px;
}

.navbar-inverse {
    background-color: transparent;
    border: none;
}

