
@import 'common';

#user_input {
    border-top: thin;
    border-top-style: dashed;
    height: 100%;
    width: 100%;
}

.clipboard {
    position: fixed;
    bottom: 0px;
    left: 0px;
    opacity: 0.01;
    width: 2px;
}

.terminal {
    color: $text-color;
    padding: 0px;
    text-align: justify;
    position: relative;
    overflow: hidden;
}

.terminal-wrap {
    padding: 0px;
    height: 200px;
}

.cmd {
    padding: 0;
    margin: 0;
    height: 1.3em;
}

.cursor {
    background-color: inherit;
    -webkit-animation: blinking 1s step-end infinite;
    -moz-animation: blinking 1s step-end infinite;
    border-left: .5em solid;
    box-sizing: border-box;
}

@keyframes blinking {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: $text-color;
    }
}

@-webkit-keyframes blinking {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: $text-color;
    }
}

@-moz-keyframes blinking {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: $text-color;
    }
}

